.buttonCont {
  text-align: center;
  margin-top: 20px;
}

#profileContainer {
  display: flex;
  justify-content: center;
  .userProfileCard {
    margin: 2em;
    text-align: right;
    max-width: 50%;

    .card-body {
      margin-top: 25%;
    }
  }

  #profileData {
    margin: 20px;
  }

  img {
    border-radius: 15em;
    border: 2px solid black;
  }
}

.profileEdit {
  text-align: center;
}