#board-section {
  text-align: center;

  .card {
    padding: 0;
  }

  .thumbnails img {
    justify-content: center;
    flex: wrap;
    width: 33%;
    margin: 2px;
  }
}

#buttonBox {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
